
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

@font-face {
    font-family: Calibre;
    src: url(Calibre/CalibreBlack.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0A192F;
}
nav{
    height: 10%;
}
.logo{
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    color: #64ffda;
}
.itemNum{
    color: #64ffda;
    font-family: 'Fira Code', monospace;
}
.nav-link{
    color: #ccd6f6;
    font-family: 'Fira Code', monospace;
    font-size: small;

}
.nav-item{
    padding: 5px 10px;
}
.resumeBtn{
    font-family: 'Fira Code', monospace;
    color: #64ffda;
    background: none;
    border: 1px solid #64ffda;
    border-radius: 5px;
    font-size: small;

    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #64ffda 50%) right;
    background-size: 200%;
    transition: 0.4s ease-out;
    
}

:hover.nav-link{
    padding-bottom: 20px;
    color: #64ffda;
    transition : 0.5s;
}

:hover.resumeBtn{
    font-weight: 500;
    color: black;
    background-position: left;

}



@media(max-width: 991px){
    .sidebar{
        /* background: linear-gradient(to left, #0F172A 20%, #112044 60%); */
        background-color: #112240;
        backdrop-filter: blur(10px);
    }
    #ulNav{
        justify-content: center!important;
    }

    .resumeBtn{
        font-size: larger !important;
    }

}

.mynameIs , .descrip{
    font-family: 'Fira Code', monospace;
    font-size: large;
}

.nameTitle , .status{
    /* font-weight: 600; */
    font-size: 3rem;
    font-family: Calibre;
}

.moreAbt {
    animation: pulse 9s infinite;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    color: #64ffda;
    background: none;
    border: 1px solid #64ffda;
    border-radius: 3px;

    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #64ffda 50%) right;
    
    background-size: 200%;
    transition: 0.4s ease-out;
}

.moreAbt:hover {
    font-weight: 500;
    color: black;
    background-position: left;
}

.moredev{
    animation: pulse 9s infinite;
    width: 175px;
}

.about-me-title , .description-me, .languages-div , .my-projects-title
, .card-body, .msg-paragraph , footer p{
    color: #ccd6f6;
    font-family: 'Fira Code', monospace;
}
.about-me-card{
    width: 75%;
}

.description-div{
    height: 100%;
    text-align: justify;
}
.description-div p{
    font-size: 0.9rem;
    width: 100%;
    color: #ccd6f6;
    font-family: 'Fira Code', monospace;
}

.languages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    list-style-type: square ;
    color: #64ffdbd7;
    font-weight: lighter;
    }

    /* Photo */

.img-me{
    height: 100%;
    position: relative;
}

.gradient-img{
    border-radius: 0.3rem;
    height: 100%;
    width: 96.5%;
    background-image: linear-gradient(to right, #0A192F, #64ffdbd7);
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

:hover.gradient-img{
    opacity: 0;
    transition: 0.3s;
}

.img-me img{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    object-fit: cover; 
}


@media(max-width: 1199px){

.about-me-card{
    width: 100% !important;
}

}

@media(max-width: 991px){

    .about-me-card{
        width: 100% !important;
        display: block;
        align-items: center;
    }

    .description-div{
        width: 100%;
    }
    .img-me{
        margin: 5% auto;
        width: 50%;
        
    }

    .my-projects-section {
        
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(3, 1fr) !important;

        }
    
    }

    @media(max-width: 767px){
        .my-projects-section {
        
            grid-template-columns: repeat(1, 1fr) !important;
            grid-template-rows: repeat(6, 1fr) !important;
    
        }

        .prg-language{
            padding-bottom: 2%;
        }
    }

/* Cards */

.my-projects-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    }

.my-projects-cards{

    background-color: #112240;
    border-radius: 0.5rem;
    
}

.card-text{
    font-size: 0.9rem ;
    font-weight: lighter !important;
    text-align: justify;
}


.project-icon{
    /* width: 100%; */
    /* height: 25%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body{
    height: 45%;
}

.prg-languages-div{
    display: flex;
    justify-content: left;
    align-items: end;
    color: aliceblue;
    width: 100%;
	height: 50px;
    position: relative;
	bottom: 0;
	right: 0;
}

.folder-icon , .share-icon{
    display: flex;
    justify-content: left;
    align-items: center;
}

.folder-icon i{
    font-size: 3rem;
}

.share-icon{
    font-size: 1rem;
}

.prg-language{
    font-family: 'Fira Code', monospace;
    font-size: smaller;
    color: #ccd6f67e;
    margin: 0px 5px 0px 0px  ;
}




:hover.prg-language{
    color: #ccd6f6;
    transition : 0.4s;
    cursor: pointer;
}


:hover.my-projects-cards h5{
    color: #64ffda;
    transition : 1.3s;
    cursor: pointer;
}

/* Contact me */

.contact-section{
    height: 40vh;
}

.contact-items{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#say-hello-btn{
    margin-left: auto;
    margin-right: auto;
}

footer p {
    font-size: small;
}

footer p:hover{
    color: #64ffda;
    transition : 0.5s;
    cursor: pointer;
}


@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}


/* Every container on the page */

.container{
    margin-top: 10% !important;
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons i {
    font-size: 2rem;
    color: #ccd6f6;
    /* height: auto; */
}

@media (max-width: 768px) {
    .social-icons {
        flex-direction: column;
    }

    .social-icons a {
        margin: 10px 0;
    }
}

